.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    z-index: 1000;
}



.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.menu-modal .modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap; /* 启用换行 */
    justify-content: space-between; /* 调整子元素间距 */
    max-height: 40%; /* 确保内容不超出窗口 */
    overflow-y: auto; /* 添加滚动条 */
    position: relative; /* 确保关闭按钮定位正确 */
    margin-top: 62px;
}

.menu-modal .modal-content span {
    flex: 1 1 calc(33.33% - 10px); /* 每行显示3个，并考虑到margin */
    margin: 5px; /* 设置间距 */
    text-align: left; /* 居中显示 */
}

.menu-modal .close {
    position: absolute;
    bottom: 0px; /* 将按钮移到 modal-content 的下方 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}